# App URL (used for redirects)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Dynamic.xyz Wallet Connection
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=

# SwapKit API
SWAPKIT_API_KEY=
NEXT_PUBLIC_SWAPKIT_API_KEY=

# PostHog Analytics
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com

# Inngest
INNGEST_DEV=1
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
