# App URL (used for redirects)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Dynamic.xyz Wallet Connection
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=

# SwapKit API
SWAPKIT_API_KEY=
NEXT_PUBLIC_SWAPKIT_API_KEY=
